<div id="welcome">
  <h1>Welcome!</h1>

  <p>Use this site to post causes and raise money through crowdfunding.</p> 

  <p>Please <a href="/login">login</a> or <a href="/signup">signup</a>.</p>
</div>

