<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>FundMyCause</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body >
  <a href="https://github.com/eric-an/fundmycause"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
  <nav>
    | <a href="/causes">View All Causes</a> |
    <a href="/causes/new">Create a New Cause</a> |
    <% if logged_in? && current_user %>
      <a href="/user/<%= current_user.id %>">User Info.</a> |
      <a href="/logout">Logout</a> |
    <% else %>
      <a href="/login">Login</a> |
    <% end %>
  </nav>
  
   <header id="header"><a href="/">FundMyCause</a></header>

<%= yield %>

  <!-- jQuery Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap core JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>